<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlbumGen - {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="
    https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js
    "></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="
    https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js
    "></script>
  </head>
  <body>
    <header class="sticky-top">
      <nav
        class="navbar navbar-expand-md navbar-dark rounded bg-dark container-lg"
      >
        <div class="container-fluid">
          <div
            class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
          >
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Search Bands</a>
              </li>
            </ul>
          </div>
          <div class="mx-auto order-0">
            <a
              class="navbar-brand mx-auto rock-font"
              href="{{ url_for('show_homepage') }}"
              >Album Generator</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".dual-collapse2"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
              {% if g.user %}
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup') }}">Register</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle {{ 'disabled' if 'email' in form }}"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Login</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <form
                      class="row"
                      action="{{ url_for('login') }}"
                      method="post"
                    >
                      {{ form.hidden_tag() }} {% for field in form if
                      field.widget.input_type != 'hidden' %}
                      <div class="col-sm-6">
                        {{ field.label(class="form-label") }} {{
                        field(class="form-control") }}
                      </div>
                      {% endfor %}
                      <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">
                          Login
                        </button>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section id="messages">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for cat, msg in messages %}
      <div class="w-25 container-sm">
        <div class="{{ cat }} alert alert-dismissible fade show" role="alert">
          {{ msg }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </section>
    <div class="container-lg">
      <section id="content">
        <div class="container-lg">{% block content %}{% endblock %}</div>
      </section>
    </div>
    <footer class="bd-footer py-md-5 py-4 mt-5 bg-body-tertiary">
      <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
          <div class="col-6 col-lg-6">
            <span class="text-start">2023 -- Casey Wittrock</span>
          </div>
          <div class="col-6 col-lg-6 text-end">
            <span class="text-end"
              ><a href="https://github.com/CAWittMN">GitHub</a></span
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
